
<th:block th:fragment="footer">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
    <ul>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</th:block>

<th:block th:fragment="header">
    <h1>Officina Riparazioni Moto</h1>
    <nav class="navbar">
        <ul class="left">
            <li><a href="/" th:href="@{/}">Home</a></li>
            <li><a href="/public/cerca_riparazione"
                    th:href="@{/public/cerca_riparazione}">Cerca
                    Riparazione</a></li>
            <li><a href="/admin/registra_utente"
                    th:href="@{/admin/registra_utente}">Registra utente</a></li>
        </ul>
        <ul class="right">
            <li
                th:if="${#authentication != null and #authentication.name == 'anonymousUser'}">
                <a href="/public/login" th:href="@{/public/login}">Login</a>
            </li>
            <li
                th:if="${#authentication != null and #authentication.name != 'anonymousUser'}">
                <form th:action="@{/logout}" method="post"
                    style="display: inline;">
                    <button type="submit"
                        style="background: none; border: none; color: blue; cursor: pointer;">
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</th:block>

<th:block th:fragment="head">
    <title>Officina Riparazione Moto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
</th:block>

