<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header">
        <h1>Officina Riparazioni Moto</h1>
        <nav class="navbar">
            <ul class="left">
                <li><a href="/" th:href="@{/}">Home</a></li>
                <li><a href="/public/cerca_riparazione" th:href="@{/public/cerca_riparazione}">Cerca Riparazione</a></li>
            </ul>
            <ul class="right">
                <li th:if="${#authentication != null and #authentication.name == 'anonymousUser'}">
                    <a href="/public/login_page" th:href="@{/public/login_page}">Login</a>
                </li>
                <li th:if="${#authentication != null and #authentication.name != 'anonymousUser'}">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer;">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
