<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="module" th:src="@{/js/main.js}"></script>
    </head>
    <body data-page="adminClienti">
        <div th:replace="~{fragments/globalFragment :: modalError}"></div>
        <div th:replace="~{fragments/globalFragment :: modalSuccess}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>
        <main>
            <div class="table-container mt-5">
                <div
                    class="ml-5 mt-5 row d-flex justify-content-between align-items-center">
                    <h2 class="col-auto">Clienti Registrati</h2>
                    <div class="col-auto mr-5 mt-4 ">
                        <button
                            onclick="window.history.back()"
                            class="btn text-uppercase">indietro
                        </button>
                    </div>
                </div>
                <p class="ml-5 mr-5 pt-3 pb-3 border-bottom">
                    In quest area puoi visualizzare tutti i clienti presenti
                    nel sistema
                </p>
                <table 
                    th:if="${!#lists.isEmpty(listaClienti)}">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th class="col-auto">Azioni</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyClienti">
                        <tr th:each="cliente : ${listaClienti}">
                            <td th:text="${cliente.nome}"></td>
                            <td th:text="${cliente.cognome}"></td>
                            <td th:text="${cliente.email}"></td>
                            <td th:text="${cliente.telefono}"></td>
                            <td class="col-auto">
                                <div>
                                    <a
                                        th:href="@{clienti/modifica/{id}(id=${cliente.id})}"
                                        class="btn text-uppercase">modifica
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${#lists.isEmpty(listaClienti)}">
                    <p>Nessun cliente registrato.</p>
                </div>
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
