<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="module" th:src="@{/js/main.js}"></script>
    </head>
    <body data-page="adminModificaCliente">
        <div th:replace="~{fragments/globalFragment :: modalError}"></div>
        <div th:replace="~{fragments/globalFragment :: modalSuccess}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>
        <main class="container mt-5">
            <div id="formContainer"
                th:insert="~{fragments/admin/formModifica :: modificaClienteForm}">
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
