body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  /* padding: 20px;
  max-width: 900px;
  margin: 40px auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; */

  flex: 1;
}

footer {
  background-color: #333;
  color: white; 
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #bbb; 
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer ul li {
  margin: 0;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

footer ul li a:hover {
  color: #00bcd4;
  text-decoration: none;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

header h1 {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px 0 0 0;
  gap: 20px;
}

.navbar ul li {
  margin: 0;
}

.navbar ul.left {
  margin-right: auto;
}

.navbar ul.right {
  margin-left: auto;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #00bcd4;
  text-decoration: none;
}

/* Stile modale di errore */
.modalError {
  background-color: #fc4f69 !important;
  border: 1px solid #ff0000 !important; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important; 
  color: white !important;
}

.modalSuccess {
  background-color: #28a745 !important; 
  border: 1px solid #1e7e34 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
  color: white !important;
}


.modal-header {
  border-bottom: none !important; 
  padding: 0 !important;
  padding-top: 1rem !important;
  padding-right: 1rem !important;

}

.modal-header button{
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
}

.modal-header button:hover{
  background-color: transparent;
}

/* Posiziona la modale sulla destra */
.modal-dialog {
  margin-right: 0 !important;
  top: 20px; 
  right: 20px; 
  max-width: 25rem !important; 
}

/* Rimuove l'oscuramento */
.modal-backdrop {
  display: none;
}

.error {
  color: red;
  text-size-adjust: 12px;
  margin-bottom: 15px;
}

/* stile bottoni */
.btn {
  background-color: #007bff;
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
  color: white;
}

/* tabelle */
.table-container{
  margin-right: 3rem;
  margin-left: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
  overflow-wrap: break-word; 
  word-break: break-all;
}

table th {
  background-color: #007bff;
  color: white;
}

.no-data {
  text-align: center;
  color: #777;
  font-size: 18px;
  padding: 20px;
  margin-top: 10px;
}

form label {
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* bottone con x e +*/
.btn-x {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #dc3545; 
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.btn-x:hover {
  color: #a71d2a; 
  transform: scale(1.2);
}

.btn-plus {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #28a745; 
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.btn-plus:hover {
  color: #1e7e34; 
  transform: scale(1.2); 
}

.btn-plus:focus, 
.btn-plus:active, 
.btn-x:focus, 
.btn-x:active {
    outline: none !important;
    box-shadow: none !important;
}
