<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="module" th:src="@{/js/main.js}"></script>

        <style>
                body {
                    background-color: #f4f4f9;
                }

                main {
                    padding: 2rem;
                }

                table th {
                    background-color: white;
                    font-weight: bold;
                    color: black;
                }
        </style>
    </head>
    <body data-page="meccanicoDettaglio">

        <div th:replace="~{fragments/globalFragment :: modalError}"></div>
        <div th:replace="~{fragments/globalFragment :: modalSuccess}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>

        <main>
            <div class="container mt-5"
                th:insert="~{fragments/tabelle :: cardDettaglioRiparazione(mostraManutenzioni=true)}">
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
