<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="text/javascript"
            th:src="@{/js/main.js}"></script>
        <style>

        .form-section {
            margin-top: 20px;
        }

        .form-section label {
            display: block;
            margin-bottom: 5px;
            font-size: 16px;
            color: #333;
        }

        .form-section input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        </style>
    </head>
    <body data-page="meccanicoIndex">
        <div th:replace="~{fragments/globalFragment :: modalError}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>
        <main>
            <div class="ml-5 mt-5 row d-flex justify-content-between align-items-center">
                <h2 class="col-auto">Gestione Riparazioni Meccaniche</h2>
                <div class="col-auto mr-5 mt-4 ">
                    <a href="/meccanico/prendi_in_carico" class="btn">Prendi in
                        carico</a>
                    <a href="/meccanico/storico" class="btn">Visualizza storico</a>
                </div>
            </div>
            <h2></h2>
            <p class="ml-5 mr-5 pt-3 pb-3 border-bottom">
                Benvenuto nella tua area di gestione. Qui puoi visualizzare
                tutte le riparazioni assegnate a te,
                controllarne lo stato e aggiornare le informazioni sullo
                svolgimento dei lavori.
            </p>

            <div class="table-container">
                <h3 class="mt-4 mb-2">Riparazioni assegnate</h3>
                <div th:replace="~{fragments/tabelle :: tableRiparazioniMeccanico(utente='meccanico')}"></div>
            </div>
            
                
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
