<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="text/javascript"
            th:src="@{/js/main.js}"></script>

    </head>
    <body>
        <div th:replace="~{fragments/globalFragment :: modalError}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>
        <main>
            <h2>Storico riparazioni</h2>
            <div
                class="table-container"
                th:insert="~{fragments/meccanico/index :: tableRiparazioniMeccanico}">
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
