<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="module" th:src="@{/js/main.js}"></script>

    </head>
    <body>
        <div th:replace="~{fragments/globalFragment :: modalError}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>
        <main>
            <div class="table-container">
                <div
                    class="mt-5 row d-flex justify-content-between align-items-center">
                    <h2 class="col-auto">Storico riparazioni</h2>
                    <button type="button" class="btn mr-3 mt-3 text-uppercase"
                        onclick="window.history.back()">Indietro</button>
                </div>
                <th:block th:replace="~{fragments/tabelle :: tableRiparazioniMeccanico(utente='meccanico')}"></th:blockth:replace>
                </th:block>
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
