<th:block th:fragment="aggiungiLavorazioneForm">
    <h1>Aggiungi nuova lavorazione</h1>
    <form 
        id="aggiungiLavorazioneForm"
        th:action="@{/meccanico/process_aggiungi_lavorazione}" 
        method="post" 
        th:object="${aggiungiLavorazioneDto}">
        <div class="form-group">
            <label for="descrizione">Descrizione:</label>
            <input type="text" id="descrizione" th:field="*{descrizione}" name="descrizione" required />
            <p th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" id="descrizioneError" class="error"></p>
        </div>
        <div class="form-group">
            <label for="ore">Ore Lavorate:</label>
            <input type="number" id="ore" th:field="*{ore}" name="ore" step="0.1" min="0" required />
            <p th:if="${#fields.hasErrors('ore')}" th:errors="*{ore}" id="oreError" class="error"></p>
        </div>
        <input type="hidden" name="idRiparazione" th:value="${aggiungiLavorazioneDto.idRiparazione}">
        <div class="form-group">
            <button class="btn btn-success" type="submit">Aggiungi</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="listaLavorazioni">
    <h3>Lavorazioni effettuate</h3>

    <table th:if="${not #lists.isEmpty(listaLavorazioni)}">
        <thead>
            <tr>
                <th class="col-7">Descrizione</th>
                <th class="col-1">Ore lavorate</th>
                <th class="col-3">Data inserimento</th>
                <th class="col-1">Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="lavorazione : ${listaLavorazioni}">

                <td th:text="${lavorazione.descrizione}"></td>
                <td th:text="${lavorazione.ore}"></td>
                <td th:text="${lavorazione.dataInserimento}"></td>
                <td>
                    <button 
                        class="btn btn-danger btn-elimina"
                        th:attr="data-id=${lavorazione.id}"
                        type="button">Elimina</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="no-data"
        th:if="${#lists.isEmpty(listaLavorazioni)}">Nessun veicolo
        in attesa di lavorazion per te.</p>
</th:block>