<th:block th:fragment="tableRiparazioniMeccanico">
    <table th:if="${not #lists.isEmpty(listaRiparazioni)}">
        <thead>
            <tr>
                <th class="col-2">Codice Servizio</th>
                <th class="col-2">Targa</th>
                <th class="col-2">Cliente</th>
                <th class="col-2">Stato</th>
                <th class="col-3">Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="riparazione : ${listaRiparazioni}">
                <td th:text="${riparazione.codice}"></td>
                <td th:text="${riparazione.targa}"></td>
                <td th:text="${riparazione.emailCliente}"></td>
                <td th:text="${riparazione.stato}"></td>
                <td>
                    <a
                        th:if="${riparazione.stato == 'In lavorazione'}"
                        th:href="@{/meccanico/dettaglio/{id}(id=${riparazione.idRiparazione})}"
                        class="btn">Dettagli</a>
                    <a
                        th:if="${riparazione.stato == 'Completata'}"
                        th:href="@{/meccanico/storico/dettaglio/{id}(id=${riparazione.idRiparazione})}"
                        class="btn">Dettagli</a>
                    <button
                        th:if="${riparazione.stato == 'In lavorazione'}"
                        type="button"
                        th:attr="data-id=${riparazione.idRiparazione}"
                        class="btn btn-completa-riparazione">Completata</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="no-data"
        th:if="${#lists.isEmpty(listaRiparazioni)}">Nessun veicolo
        in attesa di lavorazion per te.</p>
</th:block>