<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="text/javascript"
            th:src="@{/js/main.js}"></script>
        <link rel="stylesheet" th:href="@{/css/global.css}">
    </head>
    <body>

        <div th:replace="~{fragments/globalFragment :: modal}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>

        <main>
            <div class="container mt-5">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h2>Dettaglio Riparazione</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="text-primary">🔧 Riparazione</h4>
                        <table class="table table-striped">
                            <tr>
                                <td class="col-4"><strong>Codice Servizio:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.codiceServizio}"></td>
                            </tr>
                            <tr>
                                <td class="col-4"><strong>Descrizione:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.descrizione}"></td>
                            </tr>
                            <tr>
                                <td class="col-4"><strong>Data Inizio:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.dataInizio}"></td>
                            </tr>
                            <tr>
                                <td class="col-4"><strong>Data Fine:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.dataFine}"></td>
                            </tr>
                            <tr>
                                <td class="col-4"><strong>Stato Riparazione:</strong></td>
                                <td class="col-7"><span class="badge bg-info text-dark"
                                        th:text="${dettaglioRiparazione.statoRiparazione}"></span></td>
                            </tr>
                        </table>

                        <h4 class="text-primary">🏍 Moto</h4>
                        <table class="table table-striped">
                            <tr>
                                <td class="col-4"><strong>Modello:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.modello}"></td>
                            </tr>
                            <tr>
                                <td class="col-4"><strong>Targa:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.targa}"></td>
                            </tr>
                        </table>

                        <h4 class="text-primary">👤 Cliente</h4>
                        <table class="table table-striped">
                            <tr>
                                <td class="col-4"><strong>Nome:</strong></td>
                                <td class="col-7" th:text="${dettaglioRiparazione.nome}"></td>
                            </tr>
                            <tr>
                                <td class="col-4"><strong>Cognome:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.cognome}"></td>
                            </tr>
                            <tr>
                                <td class="col-4"><strong>Telefono:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.telefono}"></td>
                            </tr>
                            <tr>
                                <td class="col-4"><strong>Email:</strong></td>
                                <td class="col-7"
                                    th:text="${dettaglioRiparazione.email}"></td>
                            </tr>
                        </table>

                    </div>

                    <div class="card-footer text-right">
                        <button type="button" class="btn btn-secondary mr-1"
                            onclick="window.history.back()">🔙Torna alla
                            Lista</button>
                    </div>
                </div>
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
