<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="module" th:src="@{/js/main.js}"></script>

    </head>
    <body>
        <div th:replace="~{fragments/globalFragment :: modalError}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>

        <main>
            <div class="container mt-5"
                th:insert="~{fragments/tabelle :: cardDettaglioRiparazione(mostraManutenzioni=false)}">
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
