<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
    <head>
        <th:block th:replace="~{fragments/globalFragment :: head}"></th:block>
        <script type="text/javascript"
            th:src="@{/js/main.js}"></script>
    </head>
    <body data-page="indexAccettazione">
        <div th:replace="~{fragments/globalFragment :: modalError}"></div>
        <header th:insert="~{fragments/globalFragment :: header}"></header>
        <main>
            <div>
                <div
                    class="ml-5 mt-5 row d-flex justify-content-between align-items-center">
                    <h2 class="col-auto">Gestione Accettazioni</h2>
                    <div class="col-auto mr-5 mt-4 ">
                        <a href="/accettazione/inserisci"
                            class="btn text-uppercase">Nuova
                            registrazione</a>
                        <a href="/accettazione/storico"
                            class="btn text-uppercase">Visualizza riparazioni
                        </a>
                    </div>
                    <p class="ml-5 mr-5 pt-3 pb-3 border-bottom">
                        Benvenuto nella tua area di gestione. Qui puoi visualizzare
                        tutte le riparazioni registrate da te,
                        controllarne lo stato e aggiungere nuovi veicoli e clienti
                        per le riparazioni.
                    </p>
                </div>

                <div class="table-container">
                    <h3>Riparazioni Registrate</h3>
                    <table th:if="${not #lists.isEmpty(listaRiparazioni)}">
                        <thead>
                            <tr>
                                <th class="col-2">Codice Servizio</th>
                                <th class="col-2">Targa</th>
                                <th class="col-2">Cliente</th>
                                <th class="col-2">Stato</th>
                                <th class="col-3">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="riparazione : ${listaRiparazioni}">
                                <td th:text="${riparazione.codice}"></td>
                                <td th:text="${riparazione.targa}"></td>
                                <td th:text="${riparazione.emailCliente}"></td>
                                <td th:text="${riparazione.stato}"></td>
                                <td
                                    class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <a
                                            th:href="@{/accettazione/dettaglio/{id}(id=${riparazione.idRiparazione})}"
                                            class="btn text-uppercase">Dettagli</a>
                                        <button
                                            class="btn btn-accetta-riparazione ml-2 text-uppercase"
                                            type="button"
                                            th:if="${riparazione.stato == 'Registrato'}"
                                            th:attr="data-id=${riparazione.idRiparazione}">
                                            Accetta
                                        </button>
                                        <button
                                            class="btn btn-danger btn-rifiuta-riparazione ml-2 text-uppercase"
                                            type="button"
                                            th:if="${riparazione.stato == 'Registrato'}"
                                            th:attr="data-id=${riparazione.idRiparazione}">
                                            Rifiuta
                                        </button>
                                    </div>

                                    <button
                                        class="btn-x btn-elimina-riparazione text-uppercase"
                                        type="button"
                                        th:if="${riparazione.stato == 'Registrato'}"
                                        th:attr="data-id=${riparazione.idRiparazione}">
                                        &times;
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data"
                        th:if="${#lists.isEmpty(listaRiparazioni)}">Ancora
                        nessun veicolo registrato.</p>
                </div>
            </div>
        </main>
        <footer th:insert="~{fragments/globalFragment :: footer}"></footer>
    </body>
</html>
